.top-container {
  display: block;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
}

.dot-container {
  display: block;
  position: relative;
  width: 90%;
  height: 90%;
}

.dot {
  position: absolute;
  background: #0b0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
