.top-container {
  display: block;
  position: relative;
  width: 1500px;
  height: 1000px;
  margin-left: 30px;
  margin-top: 30px;
}

.ui-container {
  background-color: #AAA;
  display: inline-block;
  position: absolute;
  right: -50px;
  top: 0px;
  width: 500px;
  height: 1000px;
}

.dot-container {
  background-color: #CCC;
  overflow: hidden;
  display: block;
  position: relative;
  width: 1000px;
  height: 1000px;
}

.dot {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.green {
  background: #0B0;
}

.red {
  background: #B00;
}
