body {
  font-family: 'Quicksand', sans-serif;
}

.top-container {
  display: block;
  position: relative;
  width: 900px;
  height: 600px;
  margin-left: 30px;
  margin-top: 30px;
}

.display {
  background-color: #CCC;
  overflow: hidden;
  display: block;
  position: relative;
  width: 600px;
  height: 600px;
}

.dot {
  position: absolute;
  width: 50px;
  // right: 50px;
  height: 50px;
  // bottom: 50px;
  border-radius: 50%;
}

.green {
  background: #0B0;
}

.red {
  background: #B00;
}

.yellow-blotch {

}

.blue-blotch {

}

.magenta-blotch {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./public/images/magenta-blotch.png");
}

.user-interface {
  background-color: #AAA;
  position: absolute;
  right: -50px;
  top: 0px;
  width: 300px;
  height: 600px;
  border: 2px solid #000;
}

.layer-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  font-size: 1.5em;
  text-align: center;
  background-color: #000;
}

.layer-button.selected {
  background-color: #AAA;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #AAA;
}

.layer-button.not-selected {
  background-color: #AAA;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.top-panel {
  position: absolute;
  width: 100%;
}

.layer-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.panel{
  padding: 0 0.5em 0 0.5em;
  border-bottom: 3px solid #999;
}

.DD {
}

.DD-option {
  display: none;
}

/*select#dot-style option[value="cyan-blotch"] { background-image:url("./public/images/cyan-blotch.png");   }
select#dot-style option[value="magenta-blotch"] { background-image:url("./public/images/magenta-blotch.png"); }
select#dot-style option[value="yellow-blotch"] { background-image:url("./public/images/yellow.png"); }*/

