.top-container {
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 20 auto;
}

.dot-container {
  display: block;
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green {
  background: #0b0;
}

.red {
  background: #b00;
}
